version: '3'
services:
  es:
    image: elasticsearch:2.4.0
    networks:
      ${network}
  index:
    image: ${image}
    environment:
    - elasticsearch_host=es
    networks:
      ${network}
  rabbitmq:
    image: rabbitmq:latest
    networks:
      ${network}
networks:
  ${network}